body {background-color: #0d2b40;}

.container {
    width: 500px;
    height: 500px;
    background: rgb(255, 245, 232);
    margin: 10px auto;
    font-family: verdana;
    overflow: hidden;
}

.red {
    width: 420px;
    height: 100px;
    background: #f89820;
    position: relative;
    left: 400px;
    transition: transform 1.8s ease-in-out;
}

.red-expand {
    transform: translateX(-840px);
}

.green {
    width: 100px;
    height: 420px;
    position: relative;
    top: -420px;
    background: #216fa3;
    transition: transform 1.8s ease-in-out;
}

.green-expand {
    transform: translateY(840px);
}

.yellow {
    width: 420px;
    height: 100px;
    background: #f89820;
    position: relative;
    top: -120px;
    left: -320px;
    transition: transform 1.8s ease-in-out;
}

.yellow-expand {
    transform: translateX(840px);
}

.blue {
    width: 100px;
    height: 420px;
    background: #216fa3;
    position: relative;
    top: -220px;
    left: 400px;
    transition: transform 1.8s ease-in-out;
}

.blue-expand {
    transform: translateY(-840px);
}

.text {
    width: 280px;
    height: 280px;
    border: 2px solid #216fa3;
    border-radius: 5px;
    position: relative;
    top: -930px;
    left: 110px;
    text-align: center;
    line-height: 2;
}

hr {
    width: 70%;
}

a.nupp {
    
    padding: 15px;
    border: none;
    background-color: #216fa3;
    color: #fff;
    font-weight: 600;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #7aa7c5;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: aliceblue;
}
h2 {color: #0d2b40;}
