body {
    background-color:#0d2b40 ;
}

.container {
    width: 500px;
    height: 500px;
    background: #f9f9f9;
    margin: 10px auto;
    font-family: verdana;
    overflow: hidden;
}

.orange_ülemine {
    width: 420px;
    height: 100px;
    background: #f89820;
    position: relative;
    left: 400px;
    transition: transform 1.8s ease-in-out;
}

.orange_ülemine-expand {
    transform: translateX(-840px);
}

.sinine_ülemine {
    width: 100px;
    height: 420px;
    position: relative;
    top: -420px;
    background: #5382a1;
    transition: transform 1.8s ease-in-out;
}

.sinine_ülemine-expand {
    transform: translateY(840px);
}

.orange_alumine {
    width: 420px;
    height: 100px;
    background: #f89820;
    position: relative;
    top: -120px;
    left: -320px;
    transition: transform 1.8s ease-in-out;
}

.orange_alumine-expand {
    transform: translateX(840px);
}

.sinine_alumine {
    width: 100px;
    height: 420px;
    background:#5382a1;
    position: relative;
    top: -220px;
    left: 400px;
    transition: transform 1.8s ease-in-out;
}

.sinine_alumine-expand {
    transform: translateY(-840px);
}

.text {
    width: 280px;
    height: 280px;
    border: 2px solid rgb(255, 248, 239);
    border-radius: 5px;
    position: relative;
    top: -930px;
    left: 110px;
    text-align: center;
    line-height: 2;
}

hr {
    width: 70%;
}

a.nupp {
    padding: 15px;
    border: none;
    background-color: #0d2b40;
    color: #fff;
    font-weight: 600;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #5a83a1;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

