body {background-color: rgb(255, 248, 239);}
#端mbris {background-color: rgb(255, 245, 232);
     width: 1800px;  margin-left: auto;
     margin-right: auto;
    }
#端lariba {background-color:#5382a1; width: 1750px; margin-left: auto;
    margin-right: auto;
     
}
#端lariba, h3{display: inline-block; text-align: center; font-size:xx-large;
}
#端lariba, h3, a {color: #f89820; padding: 1px 25px 1px 25px;font-family: 'Quicksand', sans-serif;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }   

#pealkiri {
    font-size: xx-large;
    color: #216fa3;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

p {
    color: #0d2b40;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
    
}

h2 {
    color: #0d2b40;
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
}

img {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}

img:hover {
    transform: scaleX(-1);
}
#sissejuhatus p {text-align: center;
font-size: xx-large;}
#jalus {text-align: center;
    background-color:#0d2b40;
    color: aliceblue;
    padding: 0.5px 0.5px 0.5px 0.5px;

}
